@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700&display=swap');

$mandoBlack: #333333;
$mandoGreen: #6BE493;
$mandoOrange: #E7742E;
$mandoWhite: #eeeeee;
$mandoGrey: #cccccc;

$primaryFont: 'Solway', serif;

$mobileBreakpoint: 450px;